.logo {
  display: flex;
  align-items: center;
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-logo-link {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.logo span {
  margin-right: 10px;
  font-size: 15px;
}
.social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.instruction {
  float: left !important;
}
.icon img {
  width: 30px;
}
.feature-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.training-title {
  width: 79%;
}
.duration-div {
  width: 21%;
  text-align: center;
}
.add-review-div {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 70px;
}
.add-review-div a {
  color: var(--color-primary);
  display: block;
  font-size: 17px;
  padding: 8px 15px 0px;
  height: 45px;
  line-height: 36px;
  border-radius: 6px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  font-weight: 500;
}
.add-review-gap {
  padding: 100px 0px 20px 0px;
}
.input-field {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.input-field input[type="text"],
.input-field input[type="file"],
.input-field input[type="number"],
textarea {
  border: 1px solid #666 !important;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px 15px;
  margin: 10px 0px;
}
.blog_textarea{
  margin-top: 0;
}
.input-field textarea {
  height: 200px;
}

.file-upload {
  width: 100%;
  padding: 10px 0px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #666;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #666;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-size: 15px;
}

.file-upload-btn:hover {
  background: #666;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 10px;
  border: 2px dashed #666;
  position: relative;
  height: 300px;
}
.remove-span {
  display: block;
}
.image-dropping,
.image-upload-wrap:hover {
  background-color: #666;
  border: 2px dashed #ffffff;
}
.image-dropping,
.image-upload-wrap:hover .drag-text h3 {
  color: #98123d;
}
.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #666;
  padding: 60px 0;
  font-size: 30px;
  margin: 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-size: 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}
.button-area {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}
.button-area span {
  margin-bottom: 10px;
}
.submit-button {
  width: 200px;
  font-size: 18px !important;
}
.success {
  font-size: 18px;
  color: green;
}
.error {
  font-size: 18px;
  color: red;
}
.bio-icon-div {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  margin-right: 40px;
}
.bio-icon {
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.phone-icon {
  transform: rotate(180deg);
  font-size: 14px;
}
.email-icon {
  font-size: 14px;
}
@media only screen and (max-width: 425px) {
  .duration-div {
    width: 30%;
    text-align: center;
  }
}
